* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar .container {
    height: 5.2rem;
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

#navbar .logo {
    font-size: 1.8rem;
    padding-left: 19rem;
}

#navbar .container ul {
    display: flex;
    margin: 20px;
    align-items: center;
    list-style: none;
    padding-right: 19rem;
}

#navbar .container ul a {
    font-size: 1.2rem;
    padding: 2rem;
    color: white;
    text-decoration: none;
}

#navbar .container li:first-child a {
    background-color: silver;
    color: orange;
}

#navbar .container ul li a:hover {
    background-color: silver;
    color: orange;
}


/*Section About*/

#about .items {
    background-color: #333;
    display: flex;
}

#about .items div {
    flex: 1;
}

.image {
    background-image: url('../img/photo2.jpg');
    height: 50vh;
    padding-right: 1rem;
    border-radius: 20%;
    justify-content: left;
}

.text {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 19rem;
    padding-right: 6rem;
    padding-top: 1rem;
}

.text h1 {
    font-size: 3.5rem;
}

.text p {
    padding-top: 4rem;
    font-size: 1.3rem;
}


/*Utility class*/

.text-primary {
    color: orange;
}

#guests .containerG {
    background-image: url('../img/test-bg.jpg');
    height: 70vh;
}